{% extends "recipes/base.html" %}
{% block content %}
    

<h1>{{ recipe.recipe_name }}
  {% if recipe.isVegan %}
  🥕
  {%else%}
  🥩
    {% endif %} 
  
</h1>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %} 
    
    <h2 class="blockquote text-center">{{recipe.recipe_description}}</h2>
    {% if recipe.image %}
    <img src={{recipe.image.url}} class="rounded mx-auto d-block"/>
    {% endif %} 
    <table  class="table">
      <thead>
      <tr>
        <th scope="col">Ingredient</th>
        <th scope="col">Amount</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    {% for ingredient in recipe.ingredient_set.all %}
    <tr>

      <th scope="row">{{ ingredient.ingredient_name }} </th>
      <td>{{ingredient.amount}}</td>
      <td>{{ingredient.measure_unit}}</td>
    </tr>
    {% endfor %}
    </table>
    <ol>
      {% for step in recipe.step_set.all %}
      <li>{{step.step_description}}</li>
      {% endfor %}
    {% endblock content %}


